/exercicio01/nbproject/private/
/exercicio01/build/
/exercicico01/nbproject/private/
/exercicico01/build/
/Tarefa02/JavaApplication19/nbproject/private/
/Tarefa02/JavaApplication19/build/
/Tarefa03/nbproject/private/
/Tarefa03/build/
